.video-capture {
	background-color: inherit;
}
.video {
	position: absolute;
	overflow: hidden;
	border-radius: 10px;
	border: 15px solid rgb(225,225,225);
	/* absolutely centered */
	top: 50%;
  	left: 50%;
  	-moz-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.video-preview .video {
	/* Convert to 3:2 (1.5 ratio) - 4:3 is 1.333 */
	width: 540px;
	height: 360px;
}
.video-preview video {
	width: 640px;
	height: 360px;
	margin-left: -50px;
}
.video-capture .video {
	/* Convert to 3:2 (1.5 ratio) - 4:3 is 1.333 */
	width: 1080px;
	height: 720px;
}
.video-capture video {
	width: 1280px;
	height: 720px;
	margin-left: -100px;
}
/* Zoom Increase by 10% */
/* small preview */
.video-preview.zoom1 video {
	width: 704px;
	height: 396px;
	margin-left: -82px;
	margin-top: -18px;
}
.video-preview.zoom2 video {
	width: 768px;
	height: 432px;
	margin-left: -114px;
	margin-top: -36px;
}
.video-preview.zoom3 video {
	width: 832px;
	height: 468px;
	margin-left: -146px;
	margin-top: -54px;
}
.video-preview.zoom4 video {
	width: 896px;
	height: 504px;
	margin-left: -178px;
	margin-top: -72px;
}
.video-preview.zoom5 video {
	width: 960px;
	height: 540px;
	margin-left: -210px;
	margin-top: -90px;
}

/* large capture preview */
.video-capture.zoom1 video {
	width: 1408px;
	height: 792px;
	margin-left: -164px;
	margin-top: -36px;
}
.video-capture.zoom2 video {
	width: 1536px;
	height: 864px;
	margin-left: -228px;
	margin-top: -72px;
}
.video-capture.zoom3 video {
	width: 1664px;
	height: 936px;
	margin-left: -292px;
	margin-top: -108px;
}
.video-capture.zoom4 video {
	width: 1792px;
	height: 1008px;
	margin-left: -356px;
	margin-top: -144px;
}
.video-capture.zoom5 video {
	width: 1920px;
	height: 1080px;
	margin-left: -420px;
	margin-top: -180px;
}
video {
	/* Flip the video so it is like a mirror*/
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}