<dom-module id="app-container">

  <template>

    <link rel="stylesheet" href="app.css">

		<div class="container">
			<div class="title-container">
				<h1 class="title">The Ellens' Christmas Photo Booth</h1>
				<h2 class="instructions">Please press the green button below to take a picture</h2>
			</div>
			<app-footer class="footer"></app-footer>

			<video-display zoom="[[zoom]]" mode="[[videoMode]]"></video-display>

      <countdown-timer start="{{startCountdown}}"></countdown-timer>
			
			<div class="counter-container"></div>

      <div id="cover" class="cover blank fade-in">
			 <progress-loading message=""></progress-loading>
      </div>

      <progress-loading message="Please wait while we retrieve your photo..." hidden="{{hideLoading}}" class="cover blank"></progress-loading>

      <photo-preview source="{{photoPreview}}"></photo-preview>

		
		</div>
  </template>
  
  <script src="app.js"></script>

</dom-module>